/* Color Variables */

$pastel-pink: #f9b1c9;
$pastel-lilac: #d3b8e7;
$pastel-lightblue: #99d0f5;
$pastel-mintgreen: #b0e0e6;
$pastel-yellow: #fde3a7;
$pastel-lightgray: #d1d1d1;
$primary-color: #fafafa;
$secondary-color: #171717;
$bg-color: #f1f1f1;
$accent-color: #ffc300;
$box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

/* Mixin Styles */
